
@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/JSLINQ.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Scripts/angular-moment.min.js"></script>
    <link href="~/Content/canvasGrid.css" rel="stylesheet" />
</head>
<body>
    <div class="container" ng-controller="canvasController">
        <div class="table-responsive" style="margin-top:40px">
            <table id="tableCanvas" class="table table-bordered" >

                <tr ng-repeat="item in Model.tableRow" on-finish-render-filters style="height:{{Model.tableRowHeight}}px" >
                    <td ></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </table>
            <div class="xtitle">
                <label ng-repeat="item in Model.axisXPosition" style="position:absolute;left:{{item.x}}px;top:{{item.y}}px">{{item.value|amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</label>

            </div>
            <div class="ytitle" ng-repeat="line in Model.nodes">
                <label ng-repeat="item in line.axisYPosition" style="position:absolute;left:{{item.x}}px;top:{{item.y}}px;color:{{item.color}}" >{{item.value|number:3}}</label>

            </div>

            <canvas id="canvas" ng-mousemove="Model.mouserOverEvent($event)" ng-dblclick="Model.mouseDbClick()" height="{{Model.height}}" width="{{Model.width}}" style="z-index:10;position:absolute;top:{{Model.offsetTop}}px"></canvas>

            <div class="mousehr" ng-repeat="item in Model.splitLines">
                <hr ng-Right-Click="item.mouseRightClick($event)" ng-mouseup="item.selectMouseUp($event)" ng-mousedown="item.selectClick($event)" style="height:{{Model.height}}px;z-index:12;position:absolute;top:{{Model.offsetTop}}px;left:{{item.X}}px" />
                <div class="contextmenu" ng-show="item.contextMenu" style="position:absolute;z-index:20;top:{{item.Y}}px;left:{{item.X}}px">
                    <div class="list-group">

                        <a href="#" class="list-group-item" ng-click="item.remove()">删除</a>
                        <a href="#" class="list-group-item" ng-click="item.clear()">全部删除</a>

                    </div>
                </div>
            </div>



        </div>

    </div>

    <script src="~/app/GridCanvas.js"></script>
    <script type="text/javascript">
        var app = angular.module('app', ["canvasGrid"]);
        app.controller("canvasController", function ($scope, Canvas, $timeout, $http) {
            $scope.Model = Canvas;

            $scope.$on('ngRepeatFinished', function (ngRepeatFinishedEvent) {
                Canvas.init();
                $http.post('@Url.Action("List")').success(function (data) {

                    Canvas.initLineData(data);
                   Canvas.draw();

                })
            });
        });

        app.directive('ngRightClick', function ($parse) {
            return function (scope, element, attrs) {
                var fn = $parse(attrs.ngRightClick);
                element.bind('contextmenu', function (event) {
                    scope.$apply(function () {
                        event.preventDefault();
                        fn(scope, { $event: event });
                    });
                });
            };
        });
        app.directive('onFinishRenderFilters', function ($timeout) {
            return {
                restrict: 'A',
                link: function (scope, element, attr) {
                    if (scope.$last === true) {
                        $timeout(function () {
                            scope.$emit('ngRepeatFinished');
                        });
                    }
                }
            };
        });


    </script>


</body>
</html>
